.-main-left {
    width: 40%;
    height: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1rem;
    overflow: hidden;
}

@keyframes opacityAppear {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.-main-left-button-wrapper {
    --stagger: 25ms;
    margin-top: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1rem;
    width: 100%;
    height: 100%;
}

.-main-left-button-wrapper:nth-child(2) {
    animation-delay: calc(var(--stagger) * 1);
}
.-main-left-button-wrapper:nth-child(3) {
    animation-delay: calc(var(--stagger) * 2);
}
.-main-left-button-wrapper:nth-child(4) {
    animation-delay: calc(var(--stagger) * 3);
}
.-main-left-button-wrapper:nth-child(5) {
    animation-delay: calc(var(--stagger) * 4);
}
.-main-left-button-wrapper:nth-child(6) {
    animation-delay: calc(var(--stagger) * 5);
}

.-main-left-logo {
    width: 70%;
    user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -moz-user-select: none;
}

.-main-left-button {
    color: var(--inv);
    font-weight: 400;
    width: max-content;
    font-family: var(--font-regular);
    font-size: 1.2rem;
    background: var(--main);
    display: flex;
    margin: 0;
    padding: 1% 10% 1% 2%;
    justify-content: flex-start;
    align-items: center;
    border: 0;
    transition-duration: 150ms;
}

@keyframes buttons-appear {
    from {
        transform: translateX(-2rem);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

.-main-left-button-style-wrapper {
    animation-name: buttons-appear;
    animation-duration: 200ms;
    animation-timing-function: ease-out;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: forwards;
    display: flex;
    width: 70%;
    align-items: center;
    transition-duration: 150ms;
    transform: translateX(-50%);
    opacity: 0;
}

.-main-left-button-style-wrapper.back-btn {
    margin-top: 1rem;
}

.-main-left-button-notch {
    background: var(--main);
    height: 100%;
    aspect-ratio: 1 / 1;
    padding-left: 2px;
    margin-left: -1px;
    box-sizing: content-box;
    clip-path: polygon(0 0, 100% 0, 0 100%);
    transition-duration: 150ms;
}



.-main-left-button:hover + .-main-left-button-notch {
    background: var(--inv);
    cursor: pointer;
}

.-main-left-button:hover  {
    color: var(--main);
    background: var(--inv);
    cursor: pointer;
    padding: 1% 10% 1% 4%;
}

.-main-left-button:hover > .-svg > svg {
    fill: var(--main) !important;
}

.-robot-details {
    position: absolute;
    right: var(--padding);
    top: calc(4% + 8rem);
    transform-origin: top left;
    width: 20%;
    height: calc(100% - var(--padding) * 7);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: -1;
}

.-robot-name {
    position: absolute;
    top: var(--padding);
    font-size: 5.5rem;
    font-family: var(--font-regular);
    font-weight: 600;
    width: max-content;
    justify-self: flex-end;
    text-align: right;
    color: var(--main);
    right: 2rem;
    z-index: -1;
}

.-robot-tale {
    font-size: 1rem !important;
    font-family: var(--font-regular) !important;
    /*width: calc(100vh - calc(var(--padding) * 4));*/
    text-align: justify;
    text-align-last: right;
    transform: rotate(0deg);
    color: var(--main);
    position: static;
    font-weight: 500;
    opacity: .75;
}

.-robot-bottom {
    justify-self: flex-end;
    color: var(--main);
    font-weight: 400;
    text-align: right;
    font-family: var(--font-regular);
    font-size: 1.5rem;
}

.-user-info {
    width: 40%;
    height: max-content;
    justify-self: flex-end;
}

.-user-not-logged-header {
    font-family: var(--font-regular);
    color: var(--inv);
    font-size: 1rem;
    margin-bottom: .5rem;
}

.-user-profile {
    width: 100%;
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}

.-user-profile > img {
    width: 20%;
    max-width: 20%;
    aspect-ratio: 1 / 1 !important;
    border: 2px solid var(--main);
    outline: 2px solid var(--inv);
    margin: 2px;
}

.-user-profile-text-wrapper {
    width: 72%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

.-user-profile-text-username {
    font-family: var(--font-regular);
    font-weight: 500;
    color: var(--inv);
    font-size: 1.15rem;
    margin-bottom: 0;
    max-width: 95%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.-user-profile-text-description {
    font-family: var(--font-regular);
    font-weight: 400;
    color: var(--inv);
    opacity: .75;
    font-size: .95rem;
    max-width: 95%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.-user-not-logged-button-wrapper {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.-user-not-logged-button {
    width: 48%;
    height: 100%;
    font-family: var(--font-regular);
    color: var(--main);
    background: var(--inv);
    box-sizing: content-box;
    border: 0; padding: .25rem 0 .25rem 0;
    font-size: 1.1rem;
    font-weight: 600;
    text-align: center;
    cursor: pointer;
}

.-user-not-logged-button > .-svg > svg {
    fill: var(--main);
}

.-user-not-logged-button:hover {
    padding: 0;
    width: calc(48% - .25rem);
    border: .125rem solid var(--main);
    outline: .125rem solid var(--inv);
    margin: .125rem;
}

.-robot-svg {
    position: absolute; 
    right: 31%;
    top: 66.5%;
    height: 42%;
    z-index: 1;
    box-sizing: content-box;
    border-radius: 50%;
    aspect-ratio: 1 / 1 !important;
    transform: translate(0px, 0px) scale(1, 0.3);
    animation: rotateBotSvg 5s linear 0s infinite normal forwards;
    filter: brightness(0) contrast(200);
}

@keyframes rotateBotSvg {
    from {
        transform: translate(0px, 0px) scale(1, 0.3) rotate(0deg);
    }
    to {
        transform: translate(0px, 0px) scale(1, 0.3) rotate(360deg);
    }
}


.-room-creation-waiting {
    font-size: 1.5rem;
    font-family: var(--font-regular);
    color: var(--inv);
    margin-left: 2%;
}

.-room-creation-timer {
    font-size: 2rem;
    font-family: var(--font-regular);
    color: var(--inv);
    margin-top: .5rem;
    margin-left: 2%;
}

.-room-creation-link-wrapper {
    margin-top: .5rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: .5rem;
    font-family: var(--font-regular);
    font-size: 1rem;
    color: var(--inv);
    margin-left: 2%;
}

.-room-creation-link-wrapper > .-svg > svg {
    fill: var(--inv);
    height: 1.2rem;
}



