.-chessboard-wrapper {
    display: flex;
    gap: 3.5%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: max-content;
    height: 100%;
    width: 100%;
    max-width: 40%;
}

@keyframes cb_appear {
    from {
        transform: scale(0.95);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}

.-chessboard {
    /*animation: cb_appear 0.45s ease-out 0s 1 normal forwards;*/
    width: 100%;
    aspect-ratio: 1 / 1 !important;
    display: flex;
    flex-wrap: wrap;
    box-sizing: content-box;
    outline: 4px solid var(--inv);
    border: 4px solid var(--main);
}

.-chessboard-cell {
    height: calc(100% / 8);
    width: calc(100% / 8);
    display: grid;
    place-items: center;
    position: relative;
    /* might bottleneck */
    transition-duration: 75ms;
}

.-checked {
    box-shadow: inset 0px 0px 1rem var(--b-check) !important;
}

.-chessboard-promotion-modal {
    height: 100%;
    position: absolute;
    top: 0;
    width: max-content;
    display: flex;
    gap: .6rem;
    z-index: 2;
    box-sizing: content-box;
    background: var(--inv);
}

/* used for promotion modal */
.-fullheight {
    height: 100%;
    aspect-ratio: 1 / 1;
    cursor: pointer;
}

.-chessboard-promotion-modal.-toright {
    left: 0;
}

.-chessboard-promotion-modal.-toleft {
    right: 0;
}

.-chessboard-cell.odd:nth-of-type(odd) {
    background: #efefef;
}
.-chessboard-cell.odd:nth-of-type(even) {
    background: #c2c0c1;
}
.-chessboard-cell.even:nth-of-type(even) {
    background: #efefef;
}
.-chessboard-cell.even:nth-of-type(odd) {
    background: #c2c0c1;
}


.-chessboard-cell.from {
    background: #c5daeb !important;
}
.-chessboard-cell.to {
    background: #c1e9ee !important;
}
.-chessboard-cell.selected {
    background: #e0c1ee !important;
}

.-chessboard-cell > svg {
    position: relative;
    height: 90% !important;
    aspect-ratio: 1 / 1;
}

.-chessboard-cell > svg > g {
    height: 100% !important;
    aspect-ratio: 1 / 1;
}

.-chessboard-cell > svg > path {
    height: 100% !important;
    aspect-ratio: 1 / 1;
}

.-evaluation {
    width: 101%;
    height: 4%;
    outline: 3px solid var(--inv);
    background: black;
    position: relative;
}

.-evaluation-numbers {
    position: absolute;
    top: 0;
    height: 100%;
    left: 1%;
    font-family: var(--font-regular);
    font-weight: 500;
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    width: 98%;
}

.-evaluation-invbar {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-origin: 0% 0%;
    backdrop-filter: invert(1);
}